.App {
  margin: 3rem 0;
}

.App > h2 {
  text-align: center;
}

form {
  width: 30rem;
  max-width: 90%;
  margin: 0rem auto;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.form-group > label {
  font-size: 0.8rem;
  font-weight: 600;
}

.form-group > input,
.form-group > select {
  padding: 0.5rem;
  border: 1px solid rgba(0,0,0,.3);
  margin-top: 0.3rem;
}

.form-group > input:focus,
.form-group > select:focus {
  outline: none;
}

.form-radio {
  width: 100%;
}

.form-radio > p {
  font-size: 0.8rem;
  margin: 0.5rem 0;
  font-weight: 600;
}

.form-radio > input {
  margin: 0 0.5rem 0 0;
}

.form-radio > label {
  margin-right: 1rem;
}

button {
  padding: 0.5rem 2rem;
  background: #081229;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin: 1rem 0;
}

.error {
  font-size: 0.7rem;
  margin: 0.2rem 0;
  font-style: italic;
  color: #dc143c;
  display: inline-block;
}